.test-landing-block {
    color: white;

    &__first {
        background-color: rgb(221, 164, 223);
    }

    &__second {
        background-color: rgb(150, 238, 201);
    }

    &__third {
        background-color: rgb(152, 152, 221);
    }
}
