.icon-story {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
        margin: 0 15px 15px 0;

        &-icon {
            margin-bottom: 3px;
            text-align: center;
        }

        &-name {
            color: #333;
        }
    }
}
