@mixin children-row-margin($size: 0.5em) {
    > *:not(:last-child) {
        margin-right: $size;
    }
}

@mixin children-column-margin($size: 0.5em) {
    > *:not(:last-child) {
        margin-bottom: $size;
    }
}

@mixin scroll-style($baseColor) {
    ::-webkit-scrollbar-track {
        background: darken($baseColor, 5) !important;
    }

    ::-webkit-scrollbar-thumb {
        background: darken($baseColor, 15) !important;
    }
}
