@import "src/components/style/base.scss";

.tab {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    background: transparent;
    cursor: pointer;
    color: var(--passiveFontColor);

    &--active {
        color: var(--fontColor);
        border-bottom: 2px solid var(--tabsActiveBorderColor);
    }

    &--disabled {
        color: var(--disabledFontColor);
        cursor: not-allowed;
    }
}
